.graph {
    -fx-background-color: #F4F4F4;
}

.vertex {
    -fx-stroke-width: 5;
    -fx-stroke: #000000;
    -fx-stroke-type: inside; /* you should keep this for vertex.radius to hold */
    -fx-fill: #F4F4F4;
}

.vertex-label {
    -fx-font: bold 12pt "calibri";
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: #000000;  
    -fx-fill: transparent; /*important for curved edges. do not remove */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.3;
}

.edge-label {
    -fx-font: normal 11pt "calibri";
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #000000;  
    -fx-opacity: 0.3
}

/* Custom vertex. You should revert any unwanted styling in the default element, 
   style, since custom styles will be appended to the default style */
.myVertex {
    -fx-stroke-width: 5;
    -fx-stroke: green;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: yellowgreen;
}